In [3]:
import pandas as pd

In [4]:
df_ann=pd.read_csv("annoymized_data_catlog_for_saltanat - annoymized_data_catlog_for_saltanat.csv")

In [10]:
df_ann

,id,yapily_transaction_id,tracing_id,user_id,application_id,institution_id,credit_debit,key_path,transaction_date,transaction_date_str,...,created_at,updated_at,anonymized_description,amount,balance,balance_type,proprietary_bank_transaction_code,transaction_id_generation_formula,request_date,date_accurate
0,3249814,8dc517167dc65edf43ae8002a6baffce87871656460142...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-20 00:00:00,2015-02-20T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,MINT LEAF,36.56,68.46,Credit,DEB,default,NaN,NaN
1,3249815,22833ba324277d0000435ced6ee5217f2d91818bbd670c...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-20 00:00:00,2015-02-20T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,FIRST_NAME HAMBURGERS,31.65,105.02,Credit,DEB,default,NaN,NaN
2,3249816,bca14022ab2323680341e2353ab49c87e21b2effc5ca59...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-20 00:00:00,2015-02-20T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,WASABI WATERLOO ST,5.49,136.67,Credit,DEB,default,NaN,NaN
3,3249817,c643038f03f7be9162c131996fa12b3c3bd096a761a64e...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-19 00:00:00,2015-02-19T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,WASABI,9.74,142.16,Credit,DEB,default,NaN,NaN
4,3249818,3069a8c1ab2ef26c5a6adcf968f13e0727d14bfbdecfce...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-03-17 00:00:00,2015-03-17T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,LAST_NAME LAST_NAME THE,9.40,88.64,Credit,DEB,default,NaN,NaN
5,3249819,45f6ae0ea072f6ced84ea8984d6dc43276defd3c074040...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-19 00:00:00,2015-02-19T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,SODEXO LONDON COFF,1.77,151.90,Credit,DEB,default,NaN,NaN
6,3249820,95c4582123aba67deb8b3e1c2ac9283deccfa64e5024d9...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-19 00:00:00,2015-02-19T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,BOHO MEXICA,25.85,153.67,Credit,DEB,default,NaN,NaN
7,3249821,a56b98554d9eb20f8f20dfcb2b87b73bb029d6c7201de9...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-19 00:00:00,2015-02-19T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,CLAIRE'S ACCESSORI,10.00,179.52,Credit,DEB,default,NaN,NaN
8,3249822,506836e1195b8dc5a4b5e7355d393bb5e39eb093d4f3d0...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-19 00:00:00,2015-02-19T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,SUBWAY,5.00,189.52,Credit,DEB,default,NaN,NaN
9,3249823,3af03eda5d20bf9f1de5f94bed6cef57da6583403fba5f...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-19 00:00:00,2015-02-19T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,COSTA COFFEE,2.85,194.52,Credit,DEB,default,NaN,NaN
10,3249825,5f3eed874d1b8d95c46add915f1b66bdb4486593f38017...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-27 00:00:00,2015-01-27T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,PACIFIQUE BAR,9.02,49.53,Debit,DEB,default,NaN,NaN
11,3249826,be98ef732b502ca5e22a782a6879c86435462e0846bd9a...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-27 00:00:00,2015-01-27T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,NANDOS,3.45,40.51,Debit,DEB,default,NaN,NaN
12,3249827,fa08f291fe5ec0f3e4d10169578a8c8a0437f7d777ab40...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-26 00:00:00,2015-01-26T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,GOOGLE *Commerce L,9.99,37.06,Debit,DEB,default,NaN,NaN
13,3249828,3a3a16c7597fa5d6a0245643c6d9b2977075e64f9db93e...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-26 00:00:00,2015-01-26T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,ITUNES.COM/FIRST_NAME,1.78,27.07,Debit,DEB,default,NaN,NaN
14,3249829,57c5088933f670d5dc92e6845d17658916de1aed679f61...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-26 00:00:00,2015-01-26T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,TFL.GOV.UK/CP,6.40,25.29,Debit,DEB,default,NaN,NaN
15,3249830,cad697ab367ed9efd799b34c3d1abb9049c1cbb86bd284...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-26 00:00:00,2015-01-26T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,FITNESS FIRST,3.50,18.89,Debit,DEB,default,NaN,NaN
16,3249831,d0cbba2ce62de0c722596dc91ae8fe0e9612714fee0c4a...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-26 00:00:00,2015-01-26T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,GOOGLE *Core Coder,0.79,15.39,Debit,DEB,default,NaN,NaN
17,3249833,e0c2cb122a08431b3165b4402cde0e08f6da8f8fc0eaa4...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-26 00:00:00,2015-01-26T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,THE ADVENTURE BAR,6.00,14.60,Debit,DEB,default,NaN,NaN
18,3249835,2d298e16ca6943e3da59c60ddf515776fc4fd5c7c677da...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-02 00:00:00,2015-01-02T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,FIRST_NAME LAST_NAME,700.00,740.89,Credit,SO,default,NaN,NaN
19,3249836,c7e9a1a198bc8493672a8a0b44dab30ef80fb75061ee26...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2014-12-29 00:00:00,2014-12-29T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,FIRST_NAME LAST_NAME-WOOT,22.96,1440.89,Credit,TFR,default,NaN,NaN
20,3249837,34f029b6b985e6a5b8c6a563553fdb80828fa10f9e00a8...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2014-12-29 00:00:00,2014-12-29T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,FIRST_NAME LAST_NAME-WOOT,220.00,1463.85,Credit,TFR,default,NaN,NaN
21,3249839,8484c86bc721f9516e660bb73b924f98a9110978eb21b9...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2014-12-29 00:00:00,2014-12-29T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,GOOGLE *Commerce L,9.99,1463.85,Credit,DEB,default,NaN,NaN
22,3249840,df947b1863c13e78132476406697a536983a1f0a558cbe...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2014-12-29 00:00:00,2014-12-29T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,CRANBROOK,200.00,1473.84,Credit,PAY,default,NaN,NaN
23,3249841,37ea72485dfeeb79458f49428621059b371ae56f29a535...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2014-12-29 00:00:00,2014-12-29T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,FIRST_NAME LAST_NAME,40.00,1673.84,Credit,TFR,default,NaN,NaN
24,3249842,f7750ac00b8b2fb3ca62a9c45890214f07071ba6d6cd0c...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-26 00:00:00,2015-01-26T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,POST OFFICE COUNTE,7.15,8.60,Debit,DEB,default,NaN,NaN
25,3249843,75ea9bc524c06b0e1b8e21764a13aa75bd380382135eb0...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2014-12-29 00:00:00,2014-12-29T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,LLOYDS TSB CREDIT,200.00,1713.84,Credit,FPO,default,NaN,NaN
26,3249844,eb8affbb8d50b0a4af1b3fbe545584ae5ba2de76bec3ff...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-26 00:00:00,2015-01-26T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,FIRST_NAME RESTAURANTS,5.95,1.45,Debit,DEB,default,NaN,NaN
27,3249845,b5f9ee4109e7904accfe7756d9550b05efbfbae904ef78...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-23 00:00:00,2015-01-23T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,BOULEVARD BRASSERI,44.38,4.50,Credit,DEB,default,NaN,NaN
28,3249846,e290934328df49808d0089b61fe37e1e803df71df40006...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2014-12-24 00:00:00,2014-12-24T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,GOOGLE *Google Pla,4.49,1913.84,Credit,DEB,default,NaN,NaN
29,3249848,224b8ebb7b5f04f47a01e248e5a71ea1fe36fc06ab350e...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2014-12-23 00:00:00,2014-12-23T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,WWW.RFU.COM,65.00,1906.33,Credit,DEB,default,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4969,3249780,ebc780f77dcb0712081f0b32711edb81ef5fa963ce31d6...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-12 00:00:00,2015-02-12T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,GRAFTON PHARMACY,4.59,422.62,Credit,DEB,default,NaN,NaN
4970,3249781,4726ba70b5b20de45cb8dec66464692fd584bf5b348dcd...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-12 00:00:00,2015-02-12T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,SODEXO LONDON COFF,1.40,427.21,Credit,DEB,default,NaN,NaN
4971,3249783,b6f2a6447cc47f46b37ea4260ad7fe7d73ee3b5e8a40c0...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-24 00:00:00,2015-02-24T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,WAITROSE FASH&HOME,18.00,50.23,Debit,DEB,default,NaN,NaN
4972,3249784,ac961219e4855ca141e49a1936bf8509bcf1134e4a4975...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-23 00:00:00,2015-01-23T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,TGI FRIDAY'S,11.48,48.88,Credit,DEB,default,NaN,NaN
4973,3249785,66892cb9b77509116b10b4bb6ffcd6202e9adf1549a5f3...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-23 00:00:00,2015-01-23T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,NETFLIX.COM,5.99,60.36,Credit,DEB,default,NaN,NaN
4974,3249787,9df2ea0d7688e2bff18940ce907d18205874d4525eaecc...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-23 00:00:00,2015-01-23T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,FIRST_NAME LAST_NAME-WOOT,200.00,51.55,Credit,TFR,default,NaN,NaN
4975,3249788,1d1763ecbe3f4e77738b2417fd7572e77b84b378c755ab...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-22 00:00:00,2015-01-22T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,WWW.REPAIRSUK.CO.U,57.14,251.55,Credit,DEB,default,NaN,NaN
4976,3249789,39e9b56c1bd0f5ebdf886368ec06ea96c202861d3735a0...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-21 00:00:00,2015-01-21T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,FIRST_NAME LAST_NAME,50.00,308.69,Credit,FPO,default,NaN,NaN
4977,3249791,ff4c1b3d4666b26c5fe6974676a6e65c4bfef3e203847d...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-21 00:00:00,2015-01-21T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,WWW.DOMINOS.CO.UK,12.99,322.69,Credit,DEB,default,NaN,NaN
4978,3249792,243846e0ed5cd5230662dd9c1e4f20352107d33749c4b2...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-21 00:00:00,2015-01-21T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,TORTILLA,7.80,335.68,Credit,DEB,default,NaN,NaN
4979,3249793,2c397823f721a2241ce3440697af00a3976bc48dbd9503...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-20 00:00:00,2015-01-20T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,SELFSERVE TICKET,32.10,343.48,Credit,DEB,default,NaN,NaN
4980,3249794,dd5614f42df0247923d908970226ba41c696a2e38799eb...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-20 00:00:00,2015-01-20T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,FIRST_NAME SPORTS 516,12.00,375.58,Credit,DEB,default,NaN,NaN
4981,3249795,2368575678e0da81d67f543596d7fb198531041a5db8e0...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-20 00:00:00,2015-01-20T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,LAST_NAME NEWS,3.20,387.58,Credit,DEB,default,NaN,NaN
4982,3249796,448bb7dec72a900f00c5b162b5f8611fbd2dffb2103169...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-08 00:00:00,2015-01-08T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,PRET A MANGER,7.34,1056.69,Credit,DEB,default,NaN,NaN
4983,3249798,f1cdb7abea2aa07024f28e9709dbce6b23d1b0d35537f9...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-07 00:00:00,2015-01-07T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,POD,5.99,1074.03,Credit,DEB,default,NaN,NaN
4984,3249799,567cd0cb0fbebc564459bb894a9b504da7127b34dcf62c...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-07 00:00:00,2015-01-07T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,SAINSBURYS S/MKTS,5.70,1080.02,Credit,DEB,default,NaN,NaN
4985,3249800,b90ebc666811c5fa1ac1378f0d9b484fbf8804ecba5b83...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-07 00:00:00,2015-01-07T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,FIRST_NAME LAST_NAME,29.00,1085.72,Credit,FPO,default,NaN,NaN
4986,3249801,96edd8ffcc3fc3fe86d3c432e6118ffa5015a84b7a4a2e...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-06 00:00:00,2015-01-06T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,ITUNES.COM/FIRST_NAME,5.48,1114.72,Credit,DEB,default,NaN,NaN
4987,3249802,29d1776512b796753472df3df44755cbab64be2c2b98b0...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-06 00:00:00,2015-01-06T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,PAYPAL *SUSHIEXPRE,19.35,1120.20,Credit,DEB,default,NaN,NaN
4988,3249803,29d2f70ad14c2d56016ace431dbfef3b03cf68171f4ba9...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-01-05 00:00:00,2015-01-05T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,ITUNES.COM/FIRST_NAME,1.49,1139.55,Credit,DEB,default,NaN,NaN
4989,3249804,66a8a00d0d5e10245a09fe6247d741b4e63b6099753818...,6f6dd86f59976a56b21ffc0b39fd2e82,40e442f8-18a4-4a30-9817-7c049bb326bc,8a2cd54a-5976-4d11-8a0f-92079b35dada,lloyds,Debit,gs://anonymized-transaction-data-datprd-uk-1/l...,2015-02-24 00:00:00,2015-02-24T00:00:00+00:00,...,2020-06-02 00:00:00,2020-06-02 00:00:00,BRIDGWATER BK,9.98,32.23,Debit,DEB,default,NaN,NaN

In [11]:
df_batched=pd.read_csv('saltanat_grouped_batch_1 - saltanat_grouped_batch_1.csv')

In [12]:
"don't"

"don't"

In [17]:
df_batched

,Unnamed: 0,yapily_transaction_id,credit_debit,proprietary_bank_transaction_code,amount,anonymized_description,labels
0,0,8dc517167dc65edf43ae8002a6baffce87871656460142...,Debit,DEB,36.56,MINT LEAF,EATING_OUT
1,4,3069a8c1ab2ef26c5a6adcf968f13e0727d14bfbdecfce...,Debit,DEB,9.40,LAST_NAME LAST_NAME THE,NAN
2,6,95c4582123aba67deb8b3e1c2ac9283deccfa64e5024d9...,Debit,DEB,25.85,BOHO MEXICA,EATING_OUT
3,7,a56b98554d9eb20f8f20dfcb2b87b73bb029d6c7201de9...,Debit,DEB,10.00,CLAIRE'S ACCESSORI,SHOPPING
4,10,5f3eed874d1b8d95c46add915f1b66bdb4486593f38017...,Debit,DEB,9.02,PACIFIQUE BAR,EATING_OUT
5,16,d0cbba2ce62de0c722596dc91ae8fe0e9612714fee0c4a...,Debit,DEB,0.79,GOOGLE *Core Coder,FEES_&_CHARGES
6,17,e0c2cb122a08431b3165b4402cde0e08f6da8f8fc0eaa4...,Debit,DEB,6.00,THE ADVENTURE BAR,EATING_OUT
7,20,34f029b6b985e6a5b8c6a563553fdb80828fa10f9e00a8...,Debit,TFR,220.00,FIRST_NAME LAST_NAME-WOOT,NAN
8,22,df947b1863c13e78132476406697a536983a1f0a558cbe...,Debit,PAY,200.00,CRANBROOK,TRAVEL_&_HOLIDAY
9,27,b5f9ee4109e7904accfe7756d9550b05efbfbae904ef78...,Debit,DEB,44.38,BOULEVARD BRASSERI,EATING_OUT
10,29,224b8ebb7b5f04f47a01e248e5a71ea1fe36fc06ab350e...,Debit,DEB,65.00,WWW.RFU.COM,ENTERTAINMENT
11,30,a6b7cffd037723c882f4d720436aa88f53c2bf1c56bbfe...,Debit,DEB,16.35,WAGAMAMA ISLINGTON,EATING_OUT
12,33,08c48f7c80087499373c39bf3f09c66c4df438be26a576...,Debit,DEB,1.93,SODEXO LONDON COFF,OTHER
13,36,05edece3edfbe63cdf79a902b5beecad20985dddd2d50f...,Debit,DEB,2.95,M&S SIMPLY FOOD -,GROCERIES
14,44,087c0dcc097448fb879eec3735067e7b8fd4eb5362f27b...,Debit,DEB,12.40,WENLOCK & ESSEX,EATING_OUT
15,48,548d4178782163e8a13e8fc4c4479b6588522871af868b...,Debit,DEB,17.00,LAUNDRAPP,FEES_&_CHARGES
16,49,2cb243a822e0a40f3f19ac217d150a68afa2ab224b782e...,Debit,DEB,9.75,REVOLUTION - CLAPH,EATING_OUT
17,54,68e6c94f2d872662f45f47775e39245931705c4263d678...,Debit,DEB,13.87,LEDGER BUILDING,EATING_OUT
18,59,1a61895d6909790b6e0a2268feac2105c185d4cb67c037...,Debit,DEB,22.40,BIZZBY,HOME
19,60,10aad891ffe9e9564a128705f4a6a31e6bc96e3d9d3883...,Debit,DEB,3.99,FRESH AND WILD,SHOPPING
20,62,35b0da4c159fc5888de271ef666d2f77f41e38ca9f3583...,Debit,DEB,27.28,BANANA LEAF RESTAU,EATING_OUT
21,66,1eab93dcf308ffebcfaba4fc159a51d609a3cd1d999c21...,Debit,DEB,17.85,ALL BAR ONE HENRIE,EATING_OUT
22,67,b66bd61c6904dde6540fe54044a8fcd91ce7fb5d822e2c...,Debit,DEB,12.00,THE ADELPHI THEATR,ENTERTAINMENT
23,69,43dad8cf87865986e637c2d0193049291c2ef6964d1b29...,Debit,DEB,9.48,WASABI WATERLOO ST,EATING_OUT
24,70,176638a6dc1cb533424eed536aa0b3ecedae5a9afd63d3...,Debit,DEB,2.60,REGENTS PARK-CATER,NAN
25,73,7119eacd4b313c9f04ea1b9502731feeba72fb5c402741...,Debit,TFR,50.00,J SIMS 01FEB15,NAN
26,77,5dd1e1226438a26a8f6ae5b624d8566a2b100d32925f41...,Debit,DEB,16.54,FOLIE DOUCE,ENTERTAINMENT
27,80,3cb381d65ccea51aa7d2944db106370a8ebb2912a18fec...,Debit,DEB,8.40,SWEET COUTURE,EATING_OUT
28,83,b5a84f15a0a66b5150d84c537a1ec75007d1acc82a6ca4...,Debit,DEB,19.99,ARGOS LTD,SHOPPING
29,86,0d967e4b960026ed1de1914b2d715616ac23d04cbeeb51...,Debit,DEB,3.50,YOOMOO,EATING_OUT
...,...,...,...,...,...,...,...
1165,4897,427259dbfe7f591ce2d07eb3f2fbe7b96f726a9d7bd113...,Debit,FPO,170.00,SAM WEST,OTHER
1166,4901,0979b89e4036e641387da9f672328c50dbea1e275f83e1...,Debit,DEB,5.40,LUSH,SHOPPING
1167,4906,2fd4b58eedd7f77a7c3b9f3ac45cf34e492584e52fc05d...,Debit,DEB,53.50,LAST_NAME HOUSE DENT,NAN
1168,4908,30d1e1f6a5316a4bcfc0fb974b33b983c0d1adb5fd65f8...,Debit,DEB,5.00,CO-OP GROUP 110106,GROCERIES
1169,4910,1a3d1e87cdc9dd9f69bc873528285e7cb524e2dfa61373...,Debit,DEB,99.51,OLD BENGAL WAREHOU,EATING_OUT
1170,4911,4f6e9751dca0fdc0669c16fc3c3eb5cbdc222ced59f22e...,Debit,DEB,5.99,ARGOS THE STRAND,SHOPPING
1171,4913,5284de4e261ecfc89bf9000232fb87963f084582b734aa...,Debit,DEB,31.00,"LAST_NAME, LAST_NAME",NAN
1172,4914,129c5bc90b323f0f6764454f04b1a5820b898df8ccec67...,Debit,DEB,43.20,HABANERA RESTAURAN,EATING_OUT
1173,4916,f869a1e825184f08e63b8e50ef42918df8fde286e6dbe7...,Debit,DEB,4.65,DEFECTORS WELD,EATING_OUT
1174,4919,6bc051911716e4f90a731bf36cf2fcb63bb6622972dd74...,Debit,DEB,60.00,LAST_NAME & FIRST_NAME,NAN
1175,4922,f24a1a810dccd41246769cef1a07b6ff3c3611894aea2a...,Debit,DEB,7.99,99P OR LESS,SHOPPING
1176,4923,f0b0bb164d993eb224c353a9035dac2f1d06da1643e3f7...,Debit,DEB,7.25,CORNEY & LAST_NAME OL,SHOPPING
1177,4927,c2a6bb2bdadf15a0f10e8ae0d000fb1318bde8eeed158e...,Debit,DEB,9.25,FIRST_NAME ARMS,NAN
1178,4943,a41a4f500166d768589134a719743fe557a2683c5d31f3...,Debit,DEB,5.60,SNOG PURE FROZEN Y,EATING_OUT
1179,4947,dce19f40e2d1d0ecbb17c991569653ba8f2d540f0db12e...,Debit,DEB,7.88,DINER SOHO,EATING_OUT
1180,4951,0a31774d7c77857da8b6a457f8c5c56d43139d9f621db3...,Debit,DEB,5.00,SUBWAY,EATING_OUT
1181,4956,c058976b8d9cfa4ac9d6960f8160d4a439dc80562b021d...,Debit,DEB,1.94,BP WANDSWORTH S/SE,NAN
1182,4959,28b845085a57c5ba6e4fb5e64d337aabb393b8869876fa...,Debit,DEB,9.95,SOLDBYINSPCTRRMD,OTHER
1183,4963,ad0df33cb863bd3ceb540f735407dd1bf5202f3a9d0692...,Debit,DEB,28.60,THE ALBANY,ENTERTAINMENT
1184,4965,16de77d5abef41cacdd87e96a9c23119328cde4b8a1a28...,Debit,DEB,4.84,UPPERCRUST BARRIER,EATING_OUT
1185,4969,ebc780f77dcb0712081f0b32711edb81ef5fa963ce31d6...,Debit,DEB,4.59,GRAFTON PHARMACY,SHOPPING
1186,4972,ac961219e4855ca141e49a1936bf8509bcf1134e4a4975...,Debit,DEB,11.48,TGI FRIDAY'S,EATING_OUT
1187,4975,1d1763ecbe3f4e77738b2417fd7572e77b84b378c755ab...,Debit,DEB,57.14,WWW.REPAIRSUK.CO.U,OTHER
1188,4978,243846e0ed5cd5230662dd9c1e4f20352107d33749c4b2...,Debit,DEB,7.80,TORTILLA,EATING_OUT
1189,4981,2368575678e0da81d67f543596d7fb198531041a5db8e0...,Debit,DEB,3.20,LAST_NAME NEWS,NAN
1190,4987,29d1776512b796753472df3df44755cbab64be2c2b98b0...,Debit,DEB,19.35,PAYPAL *SUSHIEXPRE,EATING_OUT
1191,4989,66a8a00d0d5e10245a09fe6247d741b4e63b6099753818...,Debit,DEB,9.98,BRIDGWATER BK,EATING_OUT
1192,4991,bc40ed7799fbc2602b5333c75366580d684f7b719a8eb6...,Debit,DEB,30.00,TEX BRIXTONRDGAR,OTHERS
1193,4992,1764e571444ed3ff8c1ec14cbff9293e48736737012db5...,Debit,DEB,9.00,THE SHIP INN,TRAVEL_&_HOLIDAY
1194,4994,45e9d2a8bca671418803d2eb9e00a98478eac037de2fe4...,Debit,DEB,20.79,BP MOTO BRIDGEWATE,NAN

In [27]:
df=pd.merge(df_ann,df_batched,on='anonymized_description').drop(columns=['Unnamed: 0', 'yapily_transaction_id_y', 'credit_debit_y',
       'proprietary_bank_transaction_code_y', 'amount_y'])

In [39]:
df_ann.columns

Index(['id', 'yapily_transaction_id', 'tracing_id', 'user_id',
       'application_id', 'institution_id', 'credit_debit', 'key_path',
       'transaction_date', 'transaction_date_str', 'anonymized_at',
       'created_at', 'updated_at', 'anonymized_description', 'amount',
       'balance', 'balance_type', 'proprietary_bank_transaction_code',
       'transaction_id_generation_formula', 'request_date', 'date_accurate'],
      dtype='object')

In [41]:
new_columns=['id', 'yapily_transaction_id', 'tracing_id', 'user_id',
       'application_id', 'institution_id', 'credit_debit', 'key_path',
       'transaction_date', 'transaction_date_str', 'anonymized_at',
       'created_at', 'updated_at', 'anonymized_description', 'amount',
       'balance', 'balance_type', 'proprietary_bank_transaction_code',
       'transaction_id_generation_formula', 'request_date', 'date_accurate',"labels"]

In [42]:
df.columns

Index(['id', 'yapily_transaction_id_x', 'tracing_id', 'user_id',
       'application_id', 'institution_id', 'credit_debit_x', 'key_path',
       'transaction_date', 'transaction_date_str', 'anonymized_at',
       'created_at', 'updated_at', 'anonymized_description', 'amount_x',
       'balance', 'balance_type', 'proprietary_bank_transaction_code_x',
       'transaction_id_generation_formula', 'request_date', 'date_accurate',
       'labels'],
      dtype='object')

In [43]:
df.columns=new_columns

In [44]:
df.columns

Index(['id', 'yapily_transaction_id', 'tracing_id', 'user_id',
       'application_id', 'institution_id', 'credit_debit', 'key_path',
       'transaction_date', 'transaction_date_str', 'anonymized_at',
       'created_at', 'updated_at', 'anonymized_description', 'amount',
       'balance', 'balance_type', 'proprietary_bank_transaction_code',
       'transaction_id_generation_formula', 'request_date', 'date_accurate',
       'labels'],
      dtype='object')

In [46]:
df.to_csv("saltanat_labelled_batch_1_18_06_2020.csv")

In [5]:
df=pd.read_csv("saltanat_labelled_batch_1_18_06_2020.csv")

In [13]:
df.anonymized_at=pd.to_datetime(df.anonymized_at)

In [16]:
df.sort_values(by='anonymized_at',inplace=True)

In [22]:
df[["id","anonymized_at",'anonymized_description','labels']]

,id,anonymized_at,anonymized_description,labels
3897,3085636,2020-06-01 01:12:13,INTL CARD 99999999 AMAZON.CO.UK AMA,SHOPPING
3895,3085632,2020-06-01 01:12:13,INTL CARD 99999999 AMAZON.CO.UK AMA,SHOPPING
3893,3085635,2020-06-01 01:12:13,AMZNMKTPLACE AMAZO LONDON,SHOPPING
3892,3085633,2020-06-01 01:12:13,AMZNMKTPLACE AMAZO LONDON,SHOPPING
3896,3085634,2020-06-01 01:12:13,INTL CARD 99999999 AMAZON.CO.UK AMA,SHOPPING
3891,3085631,2020-06-01 01:12:13,AMZNMKTPLACE AMAZO LONDON,SHOPPING
3894,3085638,2020-06-01 01:12:14,AMZNMKTPLACE AMAZO LONDON,SHOPPING
3898,3085637,2020-06-01 01:12:14,INTL CARD 99999999 AMAZON.CO.UK AMA,SHOPPING
3899,3091172,2020-06-01 01:25:45,Domino's,EATING_OUT
3900,3113661,2020-06-01 02:19:29,Iz *saint 296 Limited,NAN
3901,3113662,2020-06-01 02:19:29,Co-Op Group Food Retai,GROCERIES
3903,3113663,2020-06-01 02:19:29,Iz *anuva Beans Ltd,OTHER
2501,3144631,2020-06-02 01:46:59,HOLYBELLY LONDON GB,EATING_OUT
2500,3144629,2020-06-02 01:46:59,HOLYBELLY LONDON GB,EATING_OUT
2498,3144625,2020-06-02 01:46:59,HOLYBELLY LONDON GB,EATING_OUT
3907,3144628,2020-06-02 01:46:59,TESCO STORES 4567 NORTH FINCHLE G,GROCERIES
3905,3144624,2020-06-02 01:46:59,TESCO STORES 4567 NORTH FINCHLE G,GROCERIES
3906,3144626,2020-06-02 01:46:59,TESCO STORES 4567 NORTH FINCHLE G,GROCERIES
3908,3144630,2020-06-02 01:46:59,TESCO STORES 4567 NORTH FINCHLE G,GROCERIES
2499,3144627,2020-06-02 01:46:59,HOLYBELLY LONDON GB,EATING_OUT
3913,3159531,2020-06-02 02:20:16,INTEREST,OTHER
3914,3164577,2020-06-02 02:31:42,Octopus Energy,BILLS
3815,3164576,2020-06-02 02:31:42,Tesco,GROCERIES
3918,3164613,2020-06-02 02:31:45,To mortgage a/c FIRST_NAME LAST_NAME 71078041159,HOME
3917,3164612,2020-06-02 02:31:45,Standing order FIRST_NAME LAST_NAME 208014 509...,SHOPPING
3916,3164611,2020-06-02 02:31:45,Direct debit TV LICENCE MBP 608009 30287634,BILLS
3915,3164610,2020-06-02 02:31:45,Payment to MORTGAGE 2020-05-31,HOME
3919,3187450,2020-06-02 03:26:03,To London Bor Newham,FEES_&_CHARGES
3920,3187451,2020-06-02 03:26:04,To Thames Water,BILLS
3921,3187456,2020-06-02 03:26:04,To FIRST_NAME LAST_NAME,NAN
...,...,...,...,...
2494,4438791,2020-06-14 02:08:57,HOLYBELLY LONDON GB,EATING_OUT
2492,4438789,2020-06-14 02:08:57,HOLYBELLY LONDON GB,EATING_OUT
3877,4456340,2020-06-14 02:48:55,Megan's by the Green (LAST_NAME Green),EATING_OUT
3769,4456337,2020-06-14 02:48:55,Londis,GROCERIES
3876,4456341,2020-06-14 02:48:55,Uber,TRANSPORT
3875,4456338,2020-06-14 02:48:55,Uber,TRANSPORT
270,4456339,2020-06-14 02:48:55,FIRST_NAME LAST_NAME,NAN
3871,4458397,2020-06-14 02:53:35,Payment to FIRST_NAME LAST_NAME,NAN
3872,4458398,2020-06-14 02:53:35,Payment to FIRST_NAME LAST_NAME,NAN
3883,4506430,2020-06-15 01:21:07,THE GATEHOUSE LONDON GB,EATING_OUT
3882,4506429,2020-06-15 01:21:07,THE GATEHOUSE LONDON GB,EATING_OUT
3884,4506431,2020-06-15 01:21:07,THE GATEHOUSE LONDON GB,EATING_OUT
3878,4506425,2020-06-15 01:21:07,THE GATEHOUSE LONDON GB,EATING_OUT
3879,4506426,2020-06-15 01:21:07,THE GATEHOUSE LONDON GB,EATING_OUT
3880,4506427,2020-06-15 01:21:07,THE GATEHOUSE LONDON GB,EATING_OUT
3881,4506428,2020-06-15 01:21:07,THE GATEHOUSE LONDON GB,EATING_OUT
2497,4506436,2020-06-15 01:21:08,HOLYBELLY LONDON GB,EATING_OUT
3885,4506432,2020-06-15 01:21:08,THE GATEHOUSE LONDON GB,EATING_OUT
3886,4506433,2020-06-15 01:21:08,THE GATEHOUSE LONDON GB,EATING_OUT
3887,4506434,2020-06-15 01:21:08,THE GATEHOUSE LONDON GB,EATING_OUT
3888,4506435,2020-06-15 01:21:08,THE GATEHOUSE LONDON GB,EATING_OUT
271,4535984,2020-06-15 02:29:39,FIRST_NAME LAST_NAME,NAN
3776,4535983,2020-06-15 02:29:39,Weston Off-licence Lim,GROCERIES
3775,4535982,2020-06-15 02:29:39,Weston Off-licence Lim,GROCERIES
3889,4535985,2020-06-15 02:29:39,Co-op,GROCERIES
3814,4535987,2020-06-15 02:29:40,Tesco,GROCERIES
3785,4535988,2020-06-15 02:29:40,Waitrose & Partners,GROCERIES
3864,4538476,2020-06-15 02:34:55,Payment to MORTGAGE,HOME
3764,4577607,2020-06-15 04:08:56,To GBP Amsterdam,OTHER
3890,4577606,2020-06-15 04:08:56,www.papajohns.co.uk,EATING_OUT